// Core variables and mixins
@import "less/lib/bootstrap/variables.less";
@import "less/lib/bootstrap/mixins.less";

// Reset
@import "less/lib/bootstrap/normalize.less";
@import "less/lib/bootstrap/print.less";

// Core CSS
@import "less/lib/bootstrap/scaffolding.less";
@import "less/lib/bootstrap/type.less";
@import "less/lib/bootstrap/code.less";
@import "less/lib/bootstrap/grid.less";
// @import "less/lib/bootstrap/tables.less";
// @import "less/lib/bootstrap/forms.less";
@import "less/lib/bootstrap/buttons.less";

// Components
// @import "less/lib/bootstrap/component-animations.less";
@import "less/lib/bootstrap/glyphicons.less";
// @import "less/lib/bootstrap/dropdowns.less";
// @import "less/lib/bootstrap/button-groups.less";
// @import "less/lib/bootstrap/input-groups.less";
// @import "less/lib/bootstrap/navs.less";
// @import "less/lib/bootstrap/navbar.less";
// @import "less/lib/bootstrap/breadcrumbs.less";
// @import "less/lib/bootstrap/pagination.less";
// @import "less/lib/bootstrap/pager.less";
// @import "less/lib/bootstrap/labels.less";
// @import "less/lib/bootstrap/badges.less";
// @import "less/lib/bootstrap/jumbotron.less";
// @import "less/lib/bootstrap/thumbnails.less";
// @import "less/lib/bootstrap/alerts.less";
// @import "less/lib/bootstrap/progress-bars.less";
// @import "less/lib/bootstrap/media.less";
// @import "less/lib/bootstrap/list-group.less";
// @import "less/lib/bootstrap/panels.less";
// @import "less/lib/bootstrap/wells.less";
// @import "less/lib/bootstrap/close.less";

// Components w/ JavaScript
// @import "less/lib/bootstrap/modals.less";
// @import "less/lib/bootstrap/tooltip.less";
// @import "less/lib/bootstrap/popovers.less";
// @import "less/lib/bootstrap/carousel.less";

// Utility classes
@import "less/lib/bootstrap/utilities.less";
@import "less/lib/bootstrap/responsive-utilities.less";

body {
	&.permalink.photo,
	&.permalink.photoset,
	&.permalink.video {
		background: @gray-darker;
	}
}

.container {
	.container;
	max-width: 1200px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

blockquote {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: @grid-gutter-width * 2;
	font-size: @font-size-base;
	color: @gray;

	p {
		font-size: @font-size-base;
		line-height: @line-height-base;
		font-style: italic;
	}
}


//
// Layout
// --------------------------------------------------


#header {
	margin-bottom: @line-height-computed / 2;
	// background: #D7DADB;

	.header-wrap {
		.container;
		//padding: @line-height-computed * 2 15px;
		text-align: center;

		.permalink & {
			padding: 15px;
		}

		nav {
			.make-row();
		}

		#logo {
			.make-sm-column(12);
			// .make-sm-column-offset(3);
			margin-top: 0;
			margin-bottom: 0;
			color: @gray-darker;

			a {
				&.name {
					font-weight: 700;
					font-size: @font-size-base * 2;
					color: #111;
				}
			}
		}

		#nav {
			.make-sm-column(12);
			list-style: none;
			margin: 0;
			padding-bottom: @line-height-base;
			text-transform: uppercase;
			// text-align: right;

			li {
				display: inline-block;
				line-height: 69px;
				margin-right: 15px;
				margin-bottom: 0;
				font-weight: 400;

				a {
					color: #6DBCDB;
					font-size: 16px;
					letter-spacing: 0.1em;
				}
			}
		}

		#search {
			display: none;
		}
	}

	.photo.permalink & {
		background: #000;

		#logo a {
			color: #fff;
		}
	}
}

section.content {
	.container;

	.photo & {
		max-width: none;
	}

	.post {
		.make-row();
		margin-bottom: @line-height-computed * 2;

		.meta-wrapper {
			.make-sm-column(8);
			.make-sm-column-offset(2);
			text-align: center;
		}

		.post-wrapper {
			.index & {
				.make-sm-column(8);
				.make-sm-column-offset(2);
			}

			.permalink & {
				.text&,
				.link&,
				.quote& {
					.make-sm-column(8);
					.make-sm-column-offset(2);
				}

				.photo& {
					> .caption,
					.photo-wrapper > .caption {
						.make-sm-column(8);
						.make-sm-column-offset(2);
					}
				}
			}
		}

		&.photo {
			.post-wrapper {
				.index & {
					.make-sm-column(12);
					.make-sm-column-offset(0);
				}
			}
		}

		.pubdate {
			font-family: @font-family-base;
			color: @gray-light;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			border-top: 1px solid #ddd;
			padding-top: @line-height-computed;

			a {
				color: @gray-light;
			}

			.permalink & {
				border-top: none;
				padding-top: 0;
			}
		}

		&.photo {
			.photo-wrapper {
				text-align: center;
			}

			.photo-wrapper {
				.make-row();
				margin-bottom: @line-height-computed;

				img,
				.caption {
					.make-md-column(6);
					.make-md-column-offset(0);

					text-align: left;
				}

				.permalink & {
					img {
						display: block;
						width: auto;
						max-width: 100%;
						margin: 0 auto;
						float: none;
					}

					> .caption {
						text-align: center;
						color: @gray-light;
					}
				}
			}
		}

		&.photoset {
			.post-wrapper > .caption {
				text-align: center;

				.permalink & {
					color: @gray-light;
				}
			}
		}

		&.quote {
			blockquote {
				font-family: @font-family-serif;
				font-size: @font-size-large * 1.7;
				line-height: 1.1;
				font-weight: 300;
				font-style: italic;
				text-indent: -0.5em;
				border-left: none;
				padding: 0;
				color: @gray-dark;
			}

			.source {
				font-style: italic;
			}
		}
	}

}


.pagination-wrapper {
	.container;

	+ footer {
		margin-top: 0;
	}

	.pagination {
		display: table;
		width: 100%;
		box-sizing: border-box;

		a {
			display: table-cell;
			width: 50%;
			font-family: @font-family-base;
			font-size: @font-size-small;
			text-transform: uppercase;
			color: @gray;
			font-weight: 300;

			i {
				text-decoration: none;
			}

			&.prev {
				text-align: left;
				padding-right: 15px;

				i {
					margin-right: 15px;
				}
			}
			&.next {
				text-align: right;
				padding-left: 15px;

				i {
					margin-left: 15px;
				}
			}
		}

		&.jump {

			.current-page,
			.jump-page,
			.next,
			.prev {
				font-family: @font-family-base;
				display: inline-block;
				width: auto;
				margin: 0 5px;
			}

			.current-page {
				font-weight: bold;
			}
		}
	}	
}


footer {
	color: @gray-light;
	background: #333;
	font-family: @font-family-base;
	margin-top: @line-height-computed;
	padding-top: @line-height-computed;

	.footer-wrapper {
		.container;
	}

	h3 {
		font-weight: 800;
		font-size: @font-size-large;
		font-family: @font-family-base;
		color: @gray-lighter;
		line-height: 1;
		margin-bottom: @line-height-computed/2;
	}

	.about,
	.elsewhere {
		.make-md-column(6);
	}

	.about {

		img {
			.pull-left;
			margin-bottom: @line-height-computed/2;
			margin-right: @grid-gutter-width;
		}
	}

	.elsewhere {
		a {
			display: inline-block;
			margin: 0 5px;
			text-decoration: none;
			.box-shadow(none);

			i {
				color: @gray;
				margin-right: 5px;
			}
		}
	}

	.copyright {
		.make-md-column(12);
		margin-top: @line-height-computed * 2;
		font-family: @font-family-sans-serif;
		color: @gray-light;
		font-size: @font-size-small;
	}
}


#portfolio {

	section.content {
		.post {
			h2 {
				font-size: 32px;
			}

			p {
				font-family: @font-family-base;
				font-weight: 300;

				strong {
					font-weight: bold;
				}
			}

			.photo {
				img {
					display: block;
					margin: 0 auto @line-height-computed;
					padding: 0;
				}
			}

			.text {

				h1 {
					font-weight: bold;
				}

				h3 {
					text-align: left;
					font-size: 21px;
					line-height: 1.1;
					margin-bottom: @line-height-computed/2;
				}

				p,
				li,
				dd {
					font-family: @font-family-base;
				}

				p {
					font-size: 100%;
					line-height: @line-height-computed;
				}

				dl {
					dt {
						font-family: @font-family-base;
						font-weight: bold;
						margin-top: @line-height-computed;
						margin-bottom: @line-height-computed/2;

						&:first-child {
							margin-top: 0;
						}
					}
					dd {
						margin-left: 0;
						margin-bottom: @line-height-computed/2;

						em {
							display: block;
							font-size: @font-size-small;
							color: @gray;
							line-height: 1.5;
						}
					}
				}

				ul {
					margin-bottom: @line-height-computed;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	p,
	.text p:first-of-type, 
	li, 
	blockquote, 
	div.caption.single,
	section.content .quote blockquote,
	.elsewhere a {
		font-size: 90%;
		line-height: @line-height-computed * 0.9;

		p {
			font-size: 100%;
		}
	}

	#header {
		.header-wrap {
			#logo a {
				background-size: 100px 100px;
				width: 100px;
				height: 100px;
			}
		}
	}
}

