@import "mixins.less";
@import "reset.less";
@import "icons.less";
@import "grid.less";

//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #aaa;
@grayLighter:           #ddd;
@white:                 #fff;


// Accent colors
// -------------------------
@dannyBlue: 			#0B8DC1;
@dannyRed: 				#d92632;
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;
@rustOrange: 			#D67D00;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             @dannyRed;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "freight-sans-pro","Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "freight-text-pro",Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          21px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        30px;
@altFontFamily:         @sansFontFamily;

@headingsFontFamily:    @altFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    normal;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px


//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}


// Images
// -------------------------

// Rounded corners
.img-rounded {
  .border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.img-circle {
  .border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}


//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 @baseLineHeight / 2;
}
.lead {
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small   { font-size: 85%; }

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: (@baseLineHeight / 2) 0;
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  line-height: @baseLineHeight;
  color: @headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: @grayLight;
  }
}

h1,
h2,
h3 { line-height: @baseLineHeight * 1.5; }

h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: @baseLineHeight;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  & > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Blockquotes
blockquote {
  padding: 0 0 0 30px;
  margin: 0 0 @baseLineHeight;
  p {
    margin-bottom: @baseLineHeight/2;
    font-style: italic;
  }
  small {
    display: block;
    line-height: @baseLineHeight;
    color: @grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

//
// Layout
// --------------------------------------------------

#header {
	margin-bottom: @baseLineHeight;
	text-align: center;
	background: @grayLighter;

	.header-wrap {

		a {
			color: @grayDarker;
		}

		#logo a {
			.hide-text();
			display: block;
			margin: 0 auto;
			width: 150px;
			height: 150px;
			background-image: url("http://static.dannydebelius.com/images/monogram.png");
			background-position: 0 0;
			background-size: 150px 150px;
			background-repeat: no-repeat;
			.transition(.1s all ease-in);
			.opacity(50);

			&:hover {
				.opacity(20);
			}
		}

		#nav {
			list-style: none;
			font-family: @altFontFamily;
			margin: 0;
			padding-bottom: @baseLineHeight;
			//border-bottom: 1px solid @grayLight;

			li {
				display: inline-block;
				line-height: 44px;
				margin-right: 15px;
				margin-bottom: 0;
				font-weight: 100;
				font-size: 18px;

				a {
					color: @gray;
				}
			}
		}

		#search {
			display: none;
		}
	}
}

section.content {

	.post {
		margin-bottom: @baseLineHeight * 2;

		.pubdate {
			font-family: @altFontFamily;
			color: @grayLight;
			font-weight: 300;
			text-align: center;
			border-top: 1px solid @grayLighter;
			padding-top: @baseLineHeight/2;

			a {
				color: @grayLight;
			}
		}

		&:first-child .pubdate {
			border-top: none;
			padding-top: 0;
		}

		.quote {
			blockquote {
				font-family: @altFontFamily;
				font-size: 42px;
				line-height: 1.1;
				font-weight: 300;
				text-indent: -0.5em;
			}

			.source {
				text-align: center;
				font-style: italic;
			}
		}

		.link {
			h3 {
				a {
					color: @textColor;
					font-weight: 300;

					&:after {
						content: '\2192';
						font-size: 75%;
					}
				}
			}
		}

		.link,
		.text {
			h3 {
				text-align: center;
			}
		}

		.text {
			h3 {
				font-weight: bold;
			}

			div > p:first-of-type {
				font-size: 125%;
				line-height: 1.5;
			}

			div p.caption {
				font-size: 80%;
				font-family: @altFontFamily;
				font-weight: 300;
				margin-top: @baseLineHeight/2*-1;
				color: @grayLight;
			}
		}

		.photo,
		.photoset,
		.text {
			img {
				display: block;
				margin: 0 auto @baseLineHeight;
			}

			.caption.single {
				text-align: center;
				margin-bottom: @baseLineHeight;
			}
		}

		.photoset {
			img + .caption {
				margin-top: @baseLineHeight/2*-1;
			}
		}

		.video {
			// .tumblr_video_container {
			// 	position: relative;
			// 	width: 100% !important;
			// 	height: auto !important;
			// }
			// iframe.tumblr_video_iframe {
			//   position: absolute;
			//   width: 100%;
			//   height: auto;
			// }
		}

		.photocredit {
			font-size: 14px;
			font-family: @altFontFamily;
			text-transform: uppercase;
			text-align: right;
			margin-top: @baseLineHeight / 2 * -1;

			a {
				color: @grayLight;
			}
		}
	}

}

.permalink {
	.photo,
	.photoset {
		img {
			display: table;
			margin: 0 auto @baseLineHeight;
			padding: 0 15px;
		}
	}
}


.pagination-wrapper {
	margin-top: @baseLineHeight;
	background: @grayLighter;
	padding: @baseLineHeight/2 0;

	+ footer {
		margin-top: 0;
	}

	.pagination {
		display: table;
		width: 100%;
		box-sizing: border-box;

		a {
			display: table-cell;
			width: 50%;
			font-family: @altFontFamily;
			font-size: @fontSizeSmall;
			text-transform: uppercase;
			color: @gray;
			font-weight: 300;

			i {
				text-decoration: none;
			}

			&.prev {
				text-align: left;
				padding-right: 15px;

				i {
					margin-right: 15px;
				}
			}
			&.next {
				text-align: right;
				padding-left: 15px;

				i {
					margin-left: 15px;
				}
			}
		}

		&.jump {
			text-align: center;

			.current-page,
			.jump-page,
			.next,
			.prev {
				font-family: @altFontFamily;
				display: inline-block;
				width: auto;
				margin: 0 5px;
			}

			.current-page {
				font-weight: bold;
			}
		}
	}	
}


footer {
	color: @white;
	background: @grayDarker;
	font-family: @altFontFamily;
	font-weight: 300;
	text-align: center;
	margin-top: @baseLineHeight;

	h3 {
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
		margin-bottom: @baseLineHeight/2;
	}

	.about {

		img {
			.img-circle();
			margin-bottom: @baseLineHeight/2;
		}
	}

	.elsewhere {
		a {
			display: inline-block;
			margin: 0 5px;
			text-decoration: none;
			.box-shadow(none);

			i {
				color: @gray;
				margin-right: 5px;
			}
		}
	}

	#copyright {
		margin-top: @baseLineHeight * 2;
		color: @grayLight;
		font-size: @fontSizeSmall;
	}
}


#portfolio {

	section.content {
		.post {
			h2 {
				font-size: 32px;
			}

			p {
				font-family: @altFontFamily;
				font-weight: 300;

				strong {
					font-weight: bold;
				}
			}

			.photo {
				img {
					display: block;
					margin: 0 auto @baseLineHeight;
					padding: 0;
				}
			}

			.text {

				h1 {
					text-align: center;
					font-weight: bold;
				}

				h3 {
					text-align: left;
					font-size: 21px;
					line-height: 1.1;
					margin-bottom: @baseLineHeight/2;
				}

				p,
				li,
				dd {
					font-family: @altFontFamily;
				}

				p {
					font-size: 100%;
					line-height: @baseLineHeight;
				}

				dl {
					dt {
						font-family: @altFontFamily;
						font-weight: bold;
						margin-top: @baseLineHeight;
						margin-bottom: @baseLineHeight/2;

						&:first-child {
							margin-top: 0;
						}
					}
					dd {
						margin-left: 0;
						margin-bottom: @baseLineHeight/2;

						em {
							display: block;
							font-size: @fontSizeSmall;
							color: @gray;
							line-height: 1.5;
						}
					}
				}

				ul {
					margin-bottom: @baseLineHeight;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	p,
	.text p:first-of-type, 
	li, 
	blockquote, 
	div.caption.single,
	section.content .quote blockquote,
	.elsewhere a {
		font-size: 90%;
		line-height: @baseLineHeight * 0.9;

		p {
			font-size: 100%;
		}
	}

	#header {
		.header-wrap {
			#logo a {
				background-size: 100px 100px;
				width: 100px;
				height: 100px;
			}
		}
	}
}

